body,
html {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: wheat;
}

header,
footer {
    flex: 0.1;
}

header {
    padding-left: 20px;
    background-position: center;
    background-size: auto;
    background-image: url("images/file.png");
    color: whitesmoke;
}

.header-nav-link,
.footer-nav-link {
    text-decoration: none;
}

.footer-nav-link {
    color: white;
}

.content-area {
    display: flex;
    flex: 1;
}

.side-menu {
    background-color: #9affe6;
    padding: 20px;
    flex: 0 0 15%;
    margin: 0;
}

.content {
    flex: 1;
    overflow: hidden;
    padding: 20px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.side-menu .nav-link {
    color: black;
}

.nav-item {
    list-style-type: none;
}

.nav-item .nav-link {
    display: block;
    color: black;
    text-align: left;
    padding: 10px;
}

.nav-item .nav-link:hover:not(.active) {
    background-color: #555;
    color: white;
}

.nav-link.active {
    background-color: rgb(19, 228, 19);
    color: white;
}

/* Mobile/Tablet Styles */
@media only screen and (max-width: 768px) {
    .content-area {
        display: flex;
        flex-direction: column;
    }
}

/* Laptops */
@media only screen and (max-width: 1200px) {
    .content-area {
        height: auto;
    }

    .side-menu {
        width: 100%;
        height: 600px;
    }

    header,
    footer {
        height: 100px;
    }

    iframe {
        height: 400px;
    }
}