h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: center;
    font-style: italic;
}

.dogs-gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}